*{
  font-family: 'Rubik', sans-serif;
}


/* DIV */
/* imagen del logo */
img{
  width: 300px;
  height: 75px;
}

.navbar{
  background:#806E8E;
  min-height:50px;
}

.nav-link{
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover{
  color: #ffffff;
  background-color: #a699b0;
}

.navbar-custom{
  font-size:36px;
  text-decoration: none;
  color: #ffffff;
}

.navbar-toggler:focus{outline: none;}

.nav-scroller{
  background: #FFD965;
  color: #ffffff;
}

.dropdown-menu{
background: #FFD965;
}

.nav-scroller a:hover{
  background-color: #CCAD50;
}

.btn:hover{
background:#a699b0;
}

.container-fluid img{
  min-width: auto;
  min-height: auto;
}

.bar2{
  color: #000000;
}
.bar2:hover{
  color: #000000;
  text-decoration: none;
}

.green{
  background: #a5d2a3;
}

.green3{
  background: #e4f1e3;
}

.pink{
  background: #FF927C;
}

.purple2{
  background: #a699b0;
}

.purple3{
  background: #d2ccd7;
}

.yellow2{
  background: #fff3d0;
}

.yellow3{
  background: #fff7e0;
}

.banner{
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.imgsmall{
  display: block;
  width: 100%;
  height: 100%;
  max-width: 167px;
  height: auto;
  margin-left: 12px;
  margin-top: 12px;
}

.addtocart{
  width: 130px;
  height: 47px;
}

.sidebar-module img{
  display:block;
  width: 100%;
  max-width:220px;
  height:183px;
}
/* MAIN */

.imgbig{
  width: 298px;
  height: 455px;
}

/* FOOTER */
.container-footer-all{
  width:100%;
  max-width: auto;
  padding: 10px;
  background: #a5d2a3;
}
.container-body{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  display:flex;
  justify-content: space-between;
}

.btnyellow{
  background: #ffd965;
}

.btnyellow:hover{
  background: #ccad50;
}

.nounderline {
  text-decoration: none !important
}
.checkoutbtn{
  background: #FFD965;
}

.card a{
  text-decoration: none;
}

.sidebar-module ul li{
  list-style: none;
}

.footericon{
  width:23px;
  height:23px;
}

.footerimg{
  width: 150px;
  height: 42px;
}
